*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: $ff-main;
	color: $color-black;
	background-color: $color-ghost-white;
}

main {
	flex-grow: 1;
}

img {
	display: block;
	height: auto;
	object-fit: cover;
	max-width: 100%;
}

a {
	text-decoration: none;
}
