.slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 68px;
	width: 100%;
	padding: 13px 0 17px;

	&__wrapper {
		display: contents;
		transition:
			max-height $transition-300,
			clip-path $transition-300,
			padding $transition-300;

		@include vp-1 {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 36px;
			max-height: 0;
			clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

			.filter-form__group--open & {
				padding: 0 0 17px;
				max-height: 300px;
				clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

				@include vp-680 {
					padding: 0 0 15px;
				}
			}
		}

		@include vp-680 {
			gap: 24px;
		}
	}

	@include vp-1 {
		display: flex;
		padding: 0;
		gap: 10px;
		align-items: flex-start;
	}

	@include vp-680 {
		gap: 4px;
	}

	&__min,
	&__max {
		border: none;
		width: 45px;
		height: 20px;
		font-family: $ff-main;
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		letter-spacing: 0.06em;
		color: $color-deep-navy;
		background: none;

		@include vp-680 {
			font-size: 14px;
			line-height: 13px;
		}
	}

	// основа
	.noUi-target {
		// width: 284px;
		width: 100%;
		height: 3px;
		background: rgba($color-deep-navy, 0.2);
		border-radius: 2px;
		border: none;
		box-shadow: none;

		@include vp-1 {
			width: 100%;
			padding: 0 0 0 13px;
		}

		@include vp-680 {
			height: 2px;
			padding: 0 0 0 10px;
		}
	}

	// ползунки
	.noUi-base {
		.noUi-handle {
			width: 13px;
			height: 13px;
			border-radius: 50%;
			background: $color-deep-navy;
			right: -7px;
			top: -5px;
			box-shadow: none;
			border: none;
			cursor: pointer;

			@include vp-1280 {
				right: 0;
			}

			@include vp-680 {
				top: -4px;
				right: 0;
				width: 10px;
				height: 10px;
			}

			&::before,
			&::after {
				content: none;
			}
		}

		// промежуток
		.noUi-connect {
			background: $color-deep-navy;
		}
	}

	&__toddler {
		@include vp-1 {
			order: 2;
		}
	}

	// значения
	&__value {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
		padding: 12px 12px 11px 24px;
		width: 148px;
		height: 46px;
		background-color: $color-white;
		border-radius: 4px;
		border: 1px solid $color-silver-gray;
		position: relative;

		@include vp-1 {
			width: 100%;
			padding: 10px 24px 12px 34px;
			order: 1;
			gap: 40px;
		}

		@include vp-680 {
			justify-content: space-between;
			height: 34px;
			padding: 5px 24px 5px 45px;
		}

		&::before {
			content: '';
			width: 1px;
			height: 100%;
			background: repeating-linear-gradient(
				to bottom,
				$color-silver-gray 0px,
				$color-silver-gray 15px,
				transparent 15px,
				transparent 30px
			);
			position: absolute;
			top: 0;
			left: 50%;

			@include vp-680 {
				background: repeating-linear-gradient(
					to bottom,
					$color-silver-gray 0px,
					$color-silver-gray 10px,
					transparent 10px,
					transparent 22px
				);
			}
		}

		&::after {
			content: '';
			width: 21px;
			height: 1px;
			background-color: $color-silver-gray;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@include vp-680 {
				width: 16px;
			}
		}
	}
}
